@import "variables";

.btn {
	padding: 10px;
	border: 6px solid white;
	background: none;
	text-decoration: none;
	color:white;
	font-family: $font-family;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	margin: 10px;
	letter-spacing: 3px;

	&:hover {
		background-color: white;
		color: $default;
		text-shadow: 1px 1px 1px #ccc;
		border-top: 6px solid $default;
		border-bottom: 6px solid $default; 
	}
	
	&.orange:hover {
		background-color: white;
		color: $orange;
		text-shadow: 1px 1px 1px #ccc;
		border-top: 6px solid $orange;
		border-bottom: 6px solid $orange; 
	}

	&.black:hover {
		background-color: white;
		color: $black;
		text-shadow: 1px 1px 1px #ccc;
		border-top: 6px solid $black;
		border-bottom: 6px solid $black; 
	}

	&.green:hover {
		background-color: white;
		color: $green;
		text-shadow: 1px 1px 1px #ccc;
		border-top: 6px solid $green;
		border-bottom: 6px solid $green; 
	}

	&.yellow:hover {
		background-color: white;
		color: $yellow;
		text-shadow: 1px 1px 1px #ccc;
		border-top: 6px solid $yellow;
		border-bottom: 6px solid $yellow; 
	}

	&.purple:hover {
		background-color: white;
		color: $purple;
		text-shadow: 1px 1px 1px #ccc;
		border-top: 6px solid $purple;
		border-bottom: 6px solid $purple; 
	}

	&.red:hover {
		background-color: white;
		color: $red;
		text-shadow: 1px 1px 1px #ccc;
		border-top: 6px solid $red;
		border-bottom: 6px solid $red; 
	}
	
	& {
		@include transition(1000ms);
	}
}
