$font-family: 'LLCircularWeb-Bold', sans-serif;
$color: #676A6A;
$fontweight: bold;
$font-size: 17px;
$letter-spacing: 2px;


$default: #1E48F2;
$orange: #F27D21;
$red: #F2435C;
$black: #1D1D1C;
$green: #56A25A;
$yellow: #F7EA00;
$purple: #8D62E0;
$grey: #BBC1C1;

@mixin transition($speed) {
    -webkit-transition: all $speed ease;
	-moz-transition: all $speed ease;
	-ms-transition: all $speed ease;
	-o-transition: all $speed ease;
	transition: all $speed ease;
}