.btn {
  padding: 10px;
  border: 6px solid white;
  background: none;
  text-decoration: none;
  color: white;
  font-family: "LLCircularWeb-Bold", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  margin: 10px;
  letter-spacing: 3px; }
  .btn:hover {
    background-color: white;
    color: #1E48F2;
    text-shadow: 1px 1px 1px #ccc;
    border-top: 6px solid #1E48F2;
    border-bottom: 6px solid #1E48F2; }
  .btn.orange:hover {
    background-color: white;
    color: #F27D21;
    text-shadow: 1px 1px 1px #ccc;
    border-top: 6px solid #F27D21;
    border-bottom: 6px solid #F27D21; }
  .btn.black:hover {
    background-color: white;
    color: #1D1D1C;
    text-shadow: 1px 1px 1px #ccc;
    border-top: 6px solid #1D1D1C;
    border-bottom: 6px solid #1D1D1C; }
  .btn.green:hover {
    background-color: white;
    color: #56A25A;
    text-shadow: 1px 1px 1px #ccc;
    border-top: 6px solid #56A25A;
    border-bottom: 6px solid #56A25A; }
  .btn.yellow:hover {
    background-color: white;
    color: #F7EA00;
    text-shadow: 1px 1px 1px #ccc;
    border-top: 6px solid #F7EA00;
    border-bottom: 6px solid #F7EA00; }
  .btn.purple:hover {
    background-color: white;
    color: #8D62E0;
    text-shadow: 1px 1px 1px #ccc;
    border-top: 6px solid #8D62E0;
    border-bottom: 6px solid #8D62E0; }
  .btn.red:hover {
    background-color: white;
    color: #F2435C;
    text-shadow: 1px 1px 1px #ccc;
    border-top: 6px solid #F2435C;
    border-bottom: 6px solid #F2435C; }
  .btn {
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease; }

div.navbar {
  width: 100%;
  left: 0;
  right: 0;
  background-color: white; }
  div.navbar .nav-container {
    padding: 0 32px;
    text-transform: uppercase;
    text-align: center; }
    div.navbar .nav-container nav {
      position: relative;
      background-color: white;
      height: 80px;
      width: 100%;
      margin: 0 auto; }
      div.navbar .nav-container nav a.image-logo {
        text-decoration: none;
        height: 60px;
        color: #676A6A;
        float: left;
        margin: 10px 0;
        text-decoration: none;
        font-size: 23px;
        color: #676A6A;
        width: 280px;
        padding: 14px 0px;
        background-image: url(muhammad.png);
        background-size: 60px;
        background-repeat: no-repeat; }
        div.navbar .nav-container nav a.image-logo:hover {
          background-size: 62px;
          font-size: 25px; }
        div.navbar .nav-container nav a.image-logo {
          -webkit-transition: all 200ms ease;
          -moz-transition: all 200ms ease;
          -ms-transition: all 200ms ease;
          -o-transition: all 200ms ease;
          transition: all 200ms ease; }
      div.navbar .nav-container nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right; }
        div.navbar .nav-container nav ul li {
          display: inline-block; }
          div.navbar .nav-container nav ul li a {
            display: block;
            padding: 27px 10px;
            text-decoration: none;
            color: #676A6A; }
            div.navbar .nav-container nav ul li a:hover {
              border-bottom: 6px solid #1E48F2;
              color: #1E48F2; }
            div.navbar .nav-container nav ul li a {
              -webkit-transition: all 200ms ease;
              -moz-transition: all 200ms ease;
              -ms-transition: all 200ms ease;
              -o-transition: all 200ms ease;
              transition: all 200ms ease; }

body {
  font-family: "LLCircularWeb-Bold", sans-serif;
  color: #676A6A;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 2px;
  max-width: 1700px;
  margin: 0;
  background-image: url(http://d0f474ebcd97ed458c03-8394389ee6d234c3e410e8dfdecf8986.r54.cf2.rackcdn.com/toga_img_asset_00_00_573414e9abf37.jpg_w_1667-h_1000-q_80-c_c-b_0.jpg); }

/*# sourceMappingURL=tebenia.css.map */
